body{
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#heading{
    text-decoration: wavy;
    color: yellow;

}
.heading1{
    color: red;
    background-color: aliceblue;
}